nose~=1.3.7
cvss~=2.5
pandas~=1.5.2
nested_lookup
xlsxwriter~=3.0.7
requests~=2.28.1
jmespath~=1.0.1
docutils~=0.19
beautifulsoup4~=4.11.1
soupsieve~=2.3.2.post1
gitdb~=4.0.10
pip~=22.1
attrs~=22.2.0
toml~=0.10.2
wheel~=0.37.1
Jinja2~=3.1.2
lark~=1.1.5
regex~=2022.10.31
setuptools~=62.2.0
pytz~=2022.7
colorama~=0.4.6
PyYAML~=6.0
idna~=3.4
multidict~=6.0.4
Babel~=2.11.0
botocore~=1.29.50
boto3~=1.26.50
s3transfer~=0.6.0
dpath~=1.5.0
smmap~=5.0.0
numpy~=1.24.1
cffi~=1.15.1
pycares~=4.3.0
websocket-client~=1.4.2
packaging~=22.0
docker~=6.0.1
MarkupSafe~=2.1.1
python-dateutil~=2.8.2
snowballstemmer~=2.2.0
imagesize~=1.4.1
urllib3~=1.26.13
Pygments~=2.14.0
yarl~=1.8.2
aiohttp~=3.8.3
aiosignal~=1.3.1
frozenlist~=1.3.3
aiodns~=3.0.0
certifi~=2022.12.7
checkov~=2.2.258
networkx~=2.6.3
jsonschema~=4.17.3
termcolor~=2.2.0
click~=8.1.3
tqdm~=4.64.1
tabulate~=0.9.0
ConfigArgParse~=1.5.3
aiomultiprocess~=0.9.0
cachetools~=5.2.1
argcomplete~=2.0.0
cloudsplaining~=0.5.0
policyuniverse~=1.5.0.20220613
prettytable~=3.6.0
cvsslib~=1.0.0
six~=1.16.0
wcwidth~=0.2.5
Markdown~=3.4.1
alabaster~=0.7.12
sortedcontainers~=2.4.0
schema~=0.7.5
ply~=3.11
pycparser~=2.21
pyrsistent~=0.19.3
zipp~=3.11.0